<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <h4 class="card-title">Create / Update Product {{service.FormData.ProductName}} </h4>


        </div>
        <div class="card-body">
            <form method="POST" autocomplete="off" class="form-horizontal" id="ProductForm" name="ProductForm">


           

                <div class="row">
                    <label class="col-lg-3 col-form-label">Product ID</label>
                    <div class="col-lg-9">
                        <input type="text" #ProductIDControl="ngModel" [(ngModel)]="service.FormData.ProductID"   name=ProductID  class="form-control"  >
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-3 col-form-label">Product Name</label>
                    <div class="col-lg-9">
                        <input type="text" #ProductNameControl="ngModel" [(ngModel)]="service.FormData.ProductName"   name=ProductName  class="form-control"  >
                    </div>
                </div>

           

                <div class="row">
                    <label class="col-lg-3 col-form-label">Unit Name</label>
                    <div class="col-lg-9">
                        <input type="text" #UnitNameControl="ngModel" [(ngModel)]="service.FormData.UnitName"  autocomplete="off" class="form-control"  name="UnitName">
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-3 col-form-label">CategoryID</label> 
                    <div class="col-lg-9">
                        <input type="number" autocomplete="off" #CategoryIDControl="ngModel" [(ngModel)]="service.FormData.CategoryID"  class="form-control" name="CategoryID">
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Barcode</label>
                    <div class="col-lg-9">
                        <input type="text" autocomplete="off" #BarcodeControl="ngModel" [(ngModel)]="service.FormData.Barcode"  class="form-control"  name="Barcode">
                    </div>
                </div>
           
                <div class="row">
                    <label class="col-lg-3 col-form-label">Model</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" #ModelNameControl="ngModel" [(ngModel)]="service.FormData.Model"  autocomplete="off"  name="Model">
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Brand</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" #BrandControl="ngModel" [(ngModel)]="service.FormData.Brand"  autocomplete="off"  name="Brand">
                    </div>
                </div>
            
                <div class="row">
                    <label class="col-lg-3 col-form-label">Description</label>
                    <div class="col-lg-9">
                        <input type="text" autocomplete="off" class="form-control" #DescriptionControl="ngModel" [(ngModel)]="service.FormData.Description"   name="Description">
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-3 col-form-label">Is Active</label>
                    <div class="col-lg-9">
                        <input type="text" #ProductIsActiveControl="ngModel" [(ngModel)]="service.FormData.IsActive"   name="IsActive"  class="form-control"  >
                    </div>
                </div>
                <div>
                    <div class="col-lg-3 float-left ">
                    </div>
                    <div class="col-lg-9 float-lg-right ">
                        <button mat-raised-button class=" float-right" ng-click="vm.RemoveProduct()">
                            <i class="glyphicon glyphicon-remove"> Delete </i>
                        </button>
                        <button type="button" class="btn btn-info float-left" (click)="SaveProduct(service.FormData)">
                            <i class="glyphicon glyphicon-floppy-save"> Save </i>
                        </button>

                    </div>


                </div> 



            </form>
        </div>
    </div>
</div>
</div>